<html>
<head>
	<title>SO CLASSY</title>
	
	<script src="/nowjs/now.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script src="d.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			
			initialize({
				
				playback: function(mediaInfo) {
					$('#playingmedia').empty();
					
					if (mediaInfo.metadata.t == 'video'){
					var toEmbed = "<iframe class='youtube-player' type='text/html' width='640' height='385' src='http://www.youtube.com/embed/"+mediaInfo.path+"?autoplay=1' frameborder='0'></iframe>"
					$('#playingmedia').html(toEmbed);
				}
				
					if (mediaInfo.metadata.t == 'pic'){
						$('#playingmedia').html('<img src="'+mediaInfo.path+'">')
					}
					
					if(mediaInfo.metadata.t == 'mp3'){
						$('#playingmedia').html(mediaInfo.path);	
					}
				
				}
			});
		
			now.ready(function() {
				addMedia = function () {
					now.SaddMedia($('#addmedia').val(), [ ], 
					{
						t: $('#mediatype').val(),
						title: $('#mediaTitle').val()	
					});
				};
				
				findMedia = function () {
					now.SfindMedia($('#findMedia').val(), function (results) {
						$('#searchresults').empty();
						results.map(displaySearchItem);
					});
				}
				
				displaySearchItem = function (doc) {
					var mediaId = doc._id.toString(16);
					var	mediaTitle = doc.metadata.title
					//var arg = 'onclick=\\'now.SbroadcastMedia(\\'' + mediaId + '\\', 1)\\'';
					//console.log(arg);
					$('#searchresults').append("<div id='"+mediaId+"'>"+mediaTitle+"</div>");
					$('#'+mediaId).click(function () {
						now.SbroadcastMedia(mediaId);
					});
				}
			});
		}); 
		
	</script>
</head>

<body>
	<button onClick="addMedia()">Add Media</button><input type="text" id="addmedia" placeholder="link to video" />
	<input type="text" id="mediatype" placeholder="video, pic, mp3">
	<input type="text" id="mediaTitle" placeholder="anything">
	<button onClick="findMedia()">Find Media</button><input type="text" id="findMedia" placeholder="search here">
	
	<div id="searchresults">RESULTS</div>
	
	<div id="playingmedia">Nothing yet</div>
</body>