<html>
<head>
	<title>Huehuehue</title>
	
	<script src="/nowjs/now.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	
	<script type="text/javascript">
	
	now.CplayMedia = function(mediaInfo) {
		$('#picturediv').empty();
		$('#picturediv').append('<img src="'+mediaInfo.path+'">')
	}
	
	test = function () {
		mediaInfo = {
			path : 'http://images.wikia.com/vssaxtonhale/images/6/6a/Rainbow_dash_evil_looking.png'
		}
		now.CplayMedia(mediaInfo);
	}
	
	</script> 
	
	
	
	
	

	
	
	
</head>
<body>
	Cool story bro
	<div id="picturediv">Populate me bitch</div>
	
	<button onClick="test()">huehuehue</button>
</body>
