<html>
<head>
	<title>Huehuehue</title>
	
	<script src="/nowjs/now.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	
	<script type="text/javascript">
	
	$(document).ready(function() {
	
		now.CplayMedia = function(mediaInfo) {
			$('#picturediv').empty();
			$('#picturediv').append('<img src="'+mediaInfo.path+'">')
		}
	
		now.CreceiveSearchResults = function (results) {
			$('#searchresults').empty();
			results.map(displaySearchItem);
		}
	
		broadcast = function () {
			now.SbroadcastMedia("4e7d71f17331019105000001");
		}
	
		addmedia = function () {
			now.SaddMedia();
		}
	
		displaySearchItem = function (doc) {
			mediaId = doc._id.toString(16);
			console.log(mediaId);
			$('#searchresults').append('<span onclick=now.SbroadcastMedia("' + mediaId + '")>' + doc.path + '</span>');
		}
	
		$('#filter').keyup(function () {
			console.log("omgomgomgomg");
			now.SfindMedia($(this).val());
		});
		
		now.ready(function() {
			
		});
	
	});
	
	</script> 
	
	
	
</head>
<body>
	Cool story bro
	<div id="picturediv">Populate me bitch</div>
	<div id="searchresults">RESULTS</div>
	
	<div id="searchbar">
		<input type="text" id="filter" placeholder="hay, oats, flowers" />
	</div>
	
	<button onClick="broadcast()">BROADCASTMEDIA</button>
	<button onClick="addmedia()">ADDMEDIA</button>
</body>
