<!DOCTYPE HTML> 
<html lang="en"> 
<head> 
<title>Nowtable - The Future of Music!</title> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<meta http-equiv="Content-Language" content="en-us"> 

<link href="/style.css" rel="stylesheet" type="text/css">

<!--
<link type="text/css" href="/skin/jplayer.blue.monday.css" rel="stylesheet"/>
-->

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>  

<script type="text/javascript" src="/jquery.marquee.js"></script>
<script type="text/javascript" src="/jquery.jplayer.min.js"></script>
<script src="/nowjs/now.js"></script>
<script type="text/javascript" src="/jquery.form.js"></script>

<link rel="icon" 
      type="image/ico" 
      href="images/favicon.ico">

<script type="text/javascript">
//this code handles the async file upload.
var TCNDDU = {};


  TCNDDU.setup = function () {

    //if(typeof window["FileReader"] === "function") {
      // File API interaction goes here
    //} else {
      // No File API support fallback to file input
      //dropArea.prepend(fileInput);
      $("#uploadsong").bind("change", TCNDDU.handleDrop);
    //}
  };



  TCNDDU.handleDrop = function (evt) {
    var files = evt.target.files;

    for(var i = 0, len = files.length; i < len; i++) {

      //domElements[1].appendChild(document.createTextNode(files[i].fileName + " " + Math.round((files[i].fileSize/1024*100000)/100000)+"K "));
      //domElements[0].id = "item"+i;

      if(files[i].fileSize != 0) {

        // Use xhr to send files to server async both Chrome and Safari support xhr2 upload and progress events
        TCNDDU.processXHR(files[i], i);

      }
    }
  };

  TCNDDU.processXHR = function (file, index) {
    var xhr = new XMLHttpRequest(),
      loader;
      fileUpload = xhr.upload,



    fileUpload.addEventListener("progress", function(event) {
      if (event.lengthComputable) {
        var percentage = Math.round((event.loaded * 100) / event.total);
        if (percentage < 100) {
          console.log("THIS IS PERCENTAGE: ", percentage);
        }
      }
    }, false);

    fileUpload.addEventListener("load", function(event) {
   		console.log("ES DONE");
		$('#uploadsong').val("");
		alert("Thanks for the song! Upload more if you like.");
    }, false);

    fileUpload.addEventListener("error", function(evt) {
     	alert("There was an error in uploading your file.");
    }, false);

    xhr.open("POST", "/upload");
	
    xhr.setRequestHeader("If-Modified-Since", "Mon, 26 Jul 1997 05:00:00 GMT");
    xhr.setRequestHeader("Cache-Control", "no-cache");
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
    xhr.setRequestHeader("X-File-Name", file.fileName);
    xhr.setRequestHeader("X-File-Size", file.fileSize);

    //xhr.setRequestHeader("Content-Type", "multipart/form-data");
    var formData = new FormData();
	formData.append('files', file);
	xhr.send(formData);

  };
//end async file upload
</script>

<script type="text/javascript">

var playing = false;
var muted = false;

$(document).ready(function(){
	TCNDDU.setup();

	$('#loginsubmit').click(function() {
		now.tryLogin($('#uname').val(), $('#pwd').val());
	});
	
	$('#registersubmit').click(function() {
		now.tryRegister($('#unamereg').val(), $('#pwdreg').val());
	});
	
	now.openLogin = function() {
		$('#addqueue').slideUp(200);
   	$('#configdiv').slideUp(200);
    	$('#upload').slideUp(200);
   	$('#logindiv').slideToggle(200);
	}
	
	now.openSettings = function() {
		$('#addqueue').slideUp(200);
   	$('#logindiv').slideUp(200);
    	$('#upload').slideUp(200);
   	$('#configdiv').slideToggle(200);
	}
		
	//sends the state of the song
	now.giveData = function(cId, state) {
		var state2 = "";
		if ($("#jquery_jplayer_1").data("jPlayer").status.paused) {state2 = "pause";} else {state2 = "play";}
		now.setSong(
			cId, 
			$("#jquery_jplayer_1").data("jPlayer").status.src, 
			$("#jquery_jplayer_1").data("jPlayer").status.currentTime,
			state
		);
	}
	
	
	now.setPlayButton = function(state) {
		var btn = $('#playpause');
		if (state == 'play') {
			//animate play to pause
			btn.stop().animate({opacity: 0}, 150, function(){
        		btn.text("pause").animate({opacity: 1}, 300);
      	});
		} else {
			//animate play to pause
			btn.stop().animate({opacity: 0}, 150, function(){
        		btn.text("play").animate({opacity: 1}, 300);
      	});
		}
	}
	
	now.setStateKing = function(state) {
		if (state == 'play') {
			$("#jquery_jplayer_1").jPlayer("play");
		} else {
			$("#jquery_jplayer_1").jPlayer("pause");
		}
	}
	
	now.startPlaylist = function() {
		if ($("#jquery_jplayer_1").data("jPlayer").status.paused) {
			now.playNextSong();
		} else {
			//do nothing
		}
	}
	
	//this is a bug testing function. It simply prints out the King's song and time to the console.
	now.reportSong = function() { 
		now.songTest($("#jquery_jplayer_1").data("jPlayer").status.src, $("#jquery_jplayer_1").data("jPlayer").status.currentTime);
	}

	now.loadSong = function(songid, position, state) {
		$("#jquery_jplayer_1").jPlayer("setMedia", { mp3: songid });
		$("#jquery_jplayer_1").jPlayer( state, position);
		now.setPlayButton(state);
	}

	now.onjoin = function(id, text){
		var mydiv = $("<div></div>").attr("id", id).addClass("chat");
		mydiv.hide();		
		mydiv.appendTo($("#chatdiv"));
		mydiv.text(text);
		mydiv.slideDown(1000);
	}
	now.refreshtext = function(id, text) {
	   text = $('<div>').text(text).html();
		var div = $("#chatmessagediv");
		div.append("<div class=\"textline\">" + id + ": " + text + "</div>");
		$(".chat").scrollTop($(".chat")[0].scrollHeight);
	}
	
	now.appendSong = function(text) {
		var div = $("#songlistdiv");	
		div.append("<div class=\"songline\">" + "<button type=\'button\' onclick=\"now.loadSong(\'\/play\/" + text + "\', 0, \'play\')\">" + decodeURI(text).split(".mp3")[0].split(".m4a")[0] + "</button></div>");
		div.animate({ scrollTop: div.attr("scrollHeight") }, 500);
	}
	
	now.appendQueue = function(text) {
		var div = $("#addqueuelist");	
		div.append("<li><div class=\"songline\"" + "onclick=\"now.addToQueue(\'\/play\/" + text + "\')\">" + decodeURI(text).split(".mp3")[0].split(".m4a")[0] + "</div></li>");
		div.animate({ scrollTop: div.attr("scrollHeight") }, 500);
	}
	
	now.displayQueueItem = function(uId, sId) {
		var div = $("ul#queue");
		var button1 = $("<a></a>").attr('href', '#').click(function(){
			now.voteQueue(sId, 'up');
		}).html('&#8679;');
		var button2 = $("<a></a>").attr('href', '#').click(function(){
			now.voteQueue(sId, 'down');
		}).html('&#8681;');
		
		var li = $("<li></li>");
		var s1 = $("<span></span>").addClass('qartist').text(uId);
		var s2 = $("<span></span>").addClass('qtitle').text(decodeURI(sId).split("\/play\/")[1].split(".mp3")[0].split(".m4a")[0]);
		li.append(button1).append(" - ").append(button2).append(" - ").append(s1).append(" - ").append(s2);
	    div.append(li);	
	}
	
	now.displayQueueItem1 = function(uId, sId) {
		var div = $("ul#queue");
		div.append("<li class='firstqueue' ><span class='q1artist'>" + uId + "</span> - <span class='q1title'>" + decodeURI(sId) + "</span></li>");
	}
	
	now.setTitleSong = function(uId, sId) {
		var div = $("#text");
		div.empty();
		div.append("<marquee scrollamount='6' width='575'><span class='artist'>" + uId + "</span> - <span class='title'>" + decodeURI(sId).split("\/play\/")[1].split(".mp3")[0].split(".m4a")[0] + "</span></marquee>");
	}
	
	now.wipeSongDiv = function() {
		$("#addqueuelist").empty();
	}
	
	now.wipeQueueDiv = function() {
		$("#queue").empty();
	}
	
	now.displayUserItem = function(username, who, king, aristocrat) {
		var div = $("#users");
		if (who) {
			if (king) {
				if (aristocrat) {
					div.append("<li><span class='usernameme'>" + username + " " + "&#9815" + " " + "&#9812;" + "</span></li>");
				} else {
					div.append("<li><span class='usernameme'>" + username + " " + "&#9812;" + "</span></li>");
				}
			} else {
				if (aristocrat) {
					div.append("<li><span class='usernameme'>" + username + " " + "&#9815" + "</span></li>");
				} else {
					div.append("<li><span class='usernameme'>" + username + "</span></li>");
				}
			}
		} else {
			if (king) {
				if (aristocrat) {
					div.append("<li><span class='username'>" + username + " " + "&#9815" + " " + "&#9812;" + "</span></li>");
				} else {
					div.append("<li><span class='username'>" + username + " " + "&#9812;" + "</span></li>");
				}
			} else {
				if (aristocrat) {
					div.append("<li><span class='username'>" + username + " " + "&#9815" + "</span></li>");
				} else {
					div.append("<li><span class='username'>" + username + "</span></li>");
				}
			}
		}
	}
	
	now.wipeUsersDiv = function() {
		$("#users").empty();
	}
	
	now.reLoginAlert = function () {
		alert("Username or password is incorrect.");
	}
	
	now.reRegisterAlert = function () {
		alert("Username is already taken.");
	}
	
	now.cleanLoginRegister = function () {
		$('#loginregisterdiv').slideUp(200);
		$('#unamereg').val("");
		$('#pwdreg').val("");
		$('#uname').val("");
		$('#pwd').val("");
		$('#loginregisterdiv').slideUp(200);
		$('#ascend').css('display', 'inline');
		$('#uploadbtn').css('display', 'inline');
		$('#queuediv').css('display', 'inline');
		$('#queue').css('display', 'inline');
		$('#config').unbind('click');
		$('#config').click(function(){
	  		$('#upload').slideUp(200);
	    	$('#addqueue').slideUp(200);
	    	$('#configdiv').slideUp(200);
	  	 	$('#logoutdiv').slideToggle(200);
	  });
	}
	
	now.finishLogout = function () {
		$('#loginregisterdiv').slideDown(200);
		$('#logoutdiv').slideUp(200);
		$('#ascend').css('display', 'none');
		$('#abdicate').css('display', 'none');
		$('#uploadbtn').css('display', 'none');
		$('#queuediv').css('display', 'none');
		$('#queue').css('display', 'none');
		$('#config').unbind('click');
		$('#config').click(function(){
	  		$('#upload').slideUp(200);
	    	$('#addqueue').slideUp(200);
	    	$('#configdiv').slideUp(200);
	  	 	$('#loginregisterdiv').slideToggle(200);
	  });
	};
	
	now.cleanAristocrat = function (shouldFlip) {
		if (shouldFlip) {
			$('#abdicate').css('display', 'inline');
			$('#ascend').css('display', 'none');
		} else {
			alert("There are already five aristocrats! Perhaps you should arrange a coup...");
		}
	};
	
	now.cleanUnaristocrat = function () {
		$('#abdicate').css('display', 'none');
		$('#ascend').css('display', 'inline');
	};
	
	now.needNewKing = function (dostuff) {
		if (dostuff) {
			now.tryNewKing();
		} else {
			//do nothing
		}
	};
	
	now.ready(function(){
		$("#jquery_jplayer_1").jPlayer({
        	ready: function () {
       		
       	},
        	supplied: "mp3, m4a, oga",
        	preload: "auto",
        	volume: 1
		});
		
		$("#jquery_jplayer_1").bind($.jPlayer.event.ended, function() { // Bind an event handler to the instance's play event.
  			now.playNextSong(); // plays the next song, but checks to see if king. Only the king will tell everyone to change the song.
  			var div = $("#song-time");
			div.empty();
			div.append("00:00 - 00:00");
		});
		
		$("#jquery_jplayer_1").bind($.jPlayer.event.timeupdate, function(event) {
			var div = $("#song-time");
			div.empty();
			div.append(
				Math.floor(event.jPlayer.status.currentTime/60) + ":" + (Math.round(event.jPlayer.status.currentTime) - Math.floor(event.jPlayer.status.currentTime/60)*60) + 
				" - " + 
				Math.floor(event.jPlayer.status.duration/60) + ":" + (Math.round(event.jPlayer.status.duration) - Math.floor(event.jPlayer.status.duration/60)*60)
=======
				addZero(Math.floor(event.jPlayer.status.currentTime/60)) + ":" + addZero((Math.round(event.jPlayer.status.currentTime) - Math.floor(event.jPlayer.status.currentTime/60)*60)) + 
				" - " + 
				addZero(Math.floor(event.jPlayer.status.duration/60)) + ":" + addZero((Math.round(event.jPlayer.status.duration) - Math.floor(event.jPlayer.status.duration/60)*60))
			);
  		});
		
		now.getSongList();
		now.getQueueList();
	});
	
	addZero = function(num) {
		var newNum = num.toString();
		var newNumLen = newNum.length;
		if (newNumLen == 1) {
			return "0" + newNum;
		} else {
			return newNum;
		}
	}

	now.deleteUser = function(id){
		$("#" + id).remove();
	}

	//this just means append your text when you press enter.
	$("#box").keypress(function(e){
		if(e.which == '13') {
			now.appendtext($("#box").val());
			$("#box").val("");
		}
		
	});

  $('#muteunmute').click(function() {
  	console.log("Mute status: " + muted);
  	var btn = $(this);
  	if (muted) {
  		$("#jquery_jplayer_1").jPlayer("unmute");
  		btn.stop().animate({opacity: 0}, 150, function() {
  			btn.text("mute").animate({opacity: 1}, 300);
  		});
  	} else {
  		$("#jquery_jplayer_1").jPlayer("mute");
  		btn.stop().animate({opacity: 0}, 150, function() {
  			btn.text("unmute").animate({opacity: 1}, 300);
  		});
  	}
  	muted = !muted;
  });
  
  $('#addbtn').click(function(){
    $('#upload').slideUp(200);
    $('#configdiv').slideUp(200);
    $('#loginregisterdiv').slideUp(200);
    $('#addqueue').slideToggle(200);
  });
 
  $('#uploadbtn').click(function(){
    $('#addqueue').slideUp(200);
    $('#configdiv').slideUp(200);
    $('#loginregisterdiv').slideUp(200);
    $('#upload').slideToggle(200);
  });
  
  $('#config').click(function(){
  	 $('#upload').slideUp(200);
    $('#addqueue').slideUp(200);
    $('#configdiv').slideUp(200);
  	 $('#loginregisterdiv').slideToggle(200);
  });
  
  $('#closeupload').click(function(){
    $('#upload').slideUp(200);
    $('#addqueue').slideUp(200);
    $('#configdiv').slideUp(200);
    $('#loginregisterdiv').slideUp(200);
  });
  
  $('#closequeue').click(function(){
    $('#upload').slideUp(200);
    $('#addqueue').slideUp(200);
    $('#configdiv').slideUp(200);
    $('#loginregisterdiv').slideUp(200);
  });
  
  $('#closesettings').click(function(){
    $('#upload').slideUp(200);
    $('#addqueue').slideUp(200);
    $('#configdiv').slideUp(200);
    $('#loginregisterdiv').slideUp(200);
  });

	$('#becomeAristocrat').click(function () {
		now.becomeAristocrat();
	});
	
	$('#unAristocrat').click(function () {
		now.unAristocrat();
	});

	$('#closeloginregister').click(function () {
		$('#upload').slideUp(200);
	    $('#addqueue').slideUp(200);
	    $('#configdiv').slideUp(200);
	    $('#loginregisterdiv').slideUp(200);
	});
	
	$('#closelogout').click(function () {
		$('#upload').slideUp(200);
	    $('#addqueue').slideUp(200);
	    $('#configdiv').slideUp(200);
	    $('#logoutdiv').slideUp(200);
	})
  
});

</script>
</head> 
 
<body> 


<div id="main">
	<div id="top">
    	<div id="text"><marquee scrollamount="6" behavior="alternate" width="575"><span class="artist">nothing</span> - <span class="title">nothing</span></marquee></div>
		<div id="l"></div>
    	<div id="r"></div>
	</div>

	<div id="logo"><img src="images/logo.png"></div>
  	<div class="clear"></div>

  	<div id="upload">
   		<div class="right button" id="closeupload">close x</div>
  		<div class="big">upload a new song</div>	
		<input type="file" id="uploadsong" name="uploadsong" /><br>
  </div>
	
  <div id="addqueue">
  	<div class="right button" id="closequeue">close x</div>
  	<div class="big">add to the song queue</div><div id="addqueuelist"></div>
  </div>
  
  <div id="configdiv">
   <div class="right button" id="closesettings">close x</div>
  	<div class="big">settings</div>
  	<form name="namechangeform" action="" method="get">	
				Change Username: <input type="text" name="uname"/>	
				<input type="button" id="submitname" value="Submit" onclick="now.getCurrentSong()"/>	
	</form> 
  </div>


<div id="loginregisterdiv">
	<div class="right button" id="closeloginregister">close X</div>
	<div class="big">Login</div>
	<form name="loginform" action="/login" method="post">
		Username
		<br><input type="text" id="uname" name="uname" placeholder="Rainbow Dash"/></br>
		<br>Password
		<br><input type="password" id="pwd" name="pwd"/>
		<br>
		<br><input type="button" id="loginsubmit" value="Login"/>
	</form>
	
	<br>
	
	<div class="big">Register</div>
	<form name="registerform" action="/register" method="post">
		Username
		<br><input type="text" id="unamereg" name="uname" placeholder="Twilight Sparkle"/>
		<br>Password
		<br><input type="password" id="pwdreg" name="pwd">
		<br>
		<br><input type="button" id="registersubmit" value="Register"/>
	</form>
</div>

<div id="logoutdiv">
	<div class="right button" id="closelogout">close X</div>
	<a href="#" onclick='now.tryLogout()'>LOGOUT</a>
</div>
  
  <div id="content">
   <div id="buttonheader">
  	<div class="button" id="muteunmute">mute</div>
  	<!-- <div class="button" id="sync" onclick="now.getCurrentSong()">sync</div> -->
  	<div class="button" id="next" onclick="now.playNextSong()">next</div>
  	<div id="song-time">00:00 - 00:00</div>
  	</div>
  	 <!--jplayer-->
	<div id="jquery_jplayer_1" class="jp-jplayer"></div>
	<div id="song-time">0:0 - 0:0</div>
	<!--end jplayer-->
	<div id="chatdiv"><input placeholder="Type your message ..." type="text" id="box"></div>
	<div id="chatmessagediv" class="chat"></div>  
  </div>
  <div id="sidebar">
    <div id="player">
      <div class="button" id="uploadbtn">upload</div>
    </div>
    <div class="clear"></div>
    <div class="big" id="queuediv"><div class="left">queue</div><div class="right button" id="addbtn">+</div><div class="clear"></div></div>
    <ul id="queue">
		
    </ul>
    <div class="big"><div class="left">users</div><div class="right button" id="config">&#9881;</div><div class="clear"></div></div>
    <ul id="users">
		
    </ul>
    
	<div class="big" id="ascend"><div class="left">ascend</div><div class="right button" id="becomeAristocrat">&#9834;</div><div class="clear"></div></div>
	
	<div class="big" id="abdicate"><div class="left">abdicate</div><div class="right button" id="unAristocrat">&#9773;</div><div class="clear"></div></div>
  </div>
  
</div>

</body> 
</html>
