@font-face { font-family: Nice; src: url('nice.otf'); } 

body {
	background: #222;
	color: #FFFFFF;
	text-align:center;
	margin:0 auto;
}

#title {
  margin-top: 40px;
  padding: 15px;
  height: 90px;
  font-size: 80px;
  text-shadow: 0 1px 1px #000;
  color: #fff;
  font-family: Nice;
}