html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{font-size:100%;}
a {outline: none;} /* Gets rid of Firefox's dotted borders */
a img {border: none;} /* Gets rid of IE's blue borders */

html, body {
  background-color: #000;
  color: #fff;
  font-family: "Segoe UI", Helvetica, Arial;
}

#main {
  width: 860px;
  margin: 15px auto 0 auto;
}

#top {
  float: left;
  width: 575px;
  margin-right: 15px;
  border-bottom: 6px solid #fff;
  height: 67px;
  position: relative;
  font-size: 32px;
}

#content {
  float: left;
  width: 575px;
  margin-right: 15px;
}


#text {
  bottom: 0;
  position: absolute;
  overflow: hidden;
  word-wrap: none;
  height: 45px;
}

.clear {
  clear: both;
}

.artist {
  color: #fff;
}

.title {
  color: #fff;
  font-weight: bold;
}

#l {
  position: absolute;
  left: 0;
  width: 80px;
  height: 67px;
  top:0;
  background: url('images/l.png') no-repeat;
}

#r {
  position: absolute;
  width: 80px;
  height: 67px;
  top: 0;
  right: 0;
  background: url('images/r.png') no-repeat;
}

#logo {
  float: left;
  width: 270px;
  height: 67px;
  border-bottom: 6px solid #fff;
}


#sidebar {
  float: left;
  width: 270px;
}

.button {
  float: left;
  font-size: 40px;
  width: 130px;
  color: #fff;
  -webkit-transition:color 300ms ease-in;  
  -moz-transition:color 300ms ease-in;  
  -o-transition:color 300ms ease-in;  
  transition:color 300ms ease-in;  
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.button:hover {
  color: #01defe;
}

.big {
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 1px solid #222;
}

#player {
  font-size: 40px;
}

#queue {
  margin-top: 25px;
  margin: 0;
  padding: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

#addbtn {
  width: auto;
}

#upload, #addqueue {
  background-color: #111;
  display: none;
  height: 500px;
  overflow: hidden;
  padding: 20px;
  margin: 15px 0;
}

#queue li {
  background-color: #000;
  border-bottom: 1px solid #222;
  white-space: nowrap;
  padding: 5px 4px;
  color: #fff;
  height: 21px;
  -webkit-transition:background-color 300ms ease-in;  
  -moz-transition:background-color 300ms ease-in;  
  -o-transition:background-color 300ms ease-in;  
  transition:background-color 300ms ease-in;  
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  overflow-x: visible;
}

#queue li:hover {
  background-color: #111;
}