<html>
<head>
	<title>Totally not Turntable</title>

	<link type="text/css" href="/skin/jplayer.blue.monday.css" rel="stylesheet" />
	
	<script src="/nowjs/now.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

	<script type="text/javascript" src="/js/jquery.jplayer.min.js"></script>

	<link rel="stylesheet" type="text/css" href="master.css">

	<script src="d.js"></script>
	

	<script type="text/javascript">
    $(document).ready(function(){
     	$("#jquery_jplayer_1").jPlayer({
	        ready: function () {
	        	$(this).jPlayer("setMedia", {
	            	m4a: "http://www.jplayer.org/audio/m4a/Miaow-07-Bubble.m4a",
	            	oga: "http://www.jplayer.org/audio/ogg/Miaow-07-Bubble.ogg"
	          	});
	        },
	    	swfPath: "/js",
	        supplied: "m4a, oga, mp3"
	    });

	    initialize({	
			playback: function(mediaInfo) {
				$("#jquery_jplayer_1").jPlayer("setMedia", {mp3: mediaInfo.path});
				$("#jquery_jplayer_1").jPlayer("play");
			}
		});




	    now.ready(function() {
	      	findMedia = function () {
				now.SfindMedia('', function (results) {
					$('#searchresults').empty();
					results.map(displaySearchItem);			
				});
			}

			displaySearchItem = function (doc) {
				var mediaId = doc._id.toString(16);
				var	mediaTitle = doc.metadata.title
				$('#searchresults').append("<div id='"+mediaId+"'>"+mediaTitle+"</div>");
				$('#'+mediaId).click(function () {
					now.SbroadcastMedia(mediaId);
				});

			}

	    });

	    
	    now.setCounter = function (num) {
	    	$("#numberConnected").text(num);
	    }
		
	});
  </script>


	
	
	
</head>
<body>
	<div id="jquery_jplayer_1" class="jp-jplayer"></div>
  <div id="jp_container_1" class="jp-audio">
    <div class="jp-type-single">
      <div class="jp-gui jp-interface">
        <ul class="jp-controls">
          <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
          <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
          <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
          <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
          <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
          <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
        </ul>
        <div class="jp-progress">
          <div class="jp-seek-bar">
            <div class="jp-play-bar"></div>
          </div>
        </div>
        <div class="jp-volume-bar">
          <div class="jp-volume-bar-value"></div>
        </div>
        <div class="jp-time-holder">
          <div class="jp-current-time"></div>
          <div class="jp-duration"></div>
          <ul class="jp-toggles">
            <li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
            <li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>
          </ul>
        </div>
      </div>
      <div class="jp-title">
        <ul>
          <li>Bubble</li>
        </ul>
      </div>
      <div class="jp-no-solution">
        <span>Update Required</span>
        To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
      </div>
    </div>
  </div>
  <hr size=1>

  <a href="#" class="button" onclick="findMedia()">Find Media</a>
  <br>
  <br>
  <div id="searchresults">Search results here</div>
<hr size=2>
  <div id="numConTitle">Number of people connected:</div>
  <div id="numberConnected">0</div>
</body>
