html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{font-size:100%;}
a {outline: none;} /* Gets rid of Firefox's dotted borders */
a img {border: none;} /* Gets rid of IE's blue borders */

html, body {
  background-color: #000;
  color: #fff;
  font-family: "Segoe UI", Helvetica, Arial;
}

#main {
  width: 860px;
  margin: 15px auto 0 auto;
}

#top {
  float: left;
  width: 575px;
  margin-right: 15px;
  border-bottom: 6px solid #fff;
  height: 67px;
  position: relative;
  font-size: 32px;
}

#content {
  float: left;
  width: 575px;
  margin-right: 15px;
}

.firstqueue {
	color: #01defe;
}

#text {
  bottom: 0;
  position: absolute;
  overflow: hidden;
  word-wrap: none;
  height: 45px;
}

.clear {
  clear: both;
}

.artist {
  color: #fff;
}

.title {
  color: #fff;
  font-weight: bold;
}

#l {
  position: absolute;
  left: 0;
  width: 80px;
  height: 67px;
  top:0;
  background: url('images/l.png') no-repeat;
}

#r {
  position: absolute;
  width: 80px;
  height: 67px;
  top: 0;
  right: 0;
  background: url('images/r.png') no-repeat;
}

#logo {
  float: left;
  width: 270px;
  height: 67px;
  border-bottom: 6px solid #fff;
}


#sidebar {
  float: left;
  width: 270px;
  overflow: hidden;
}

.button {
  float: left;
  font-size: 40px;
  width: 180px;
  padding-right: 0px;
  color: #fff;
  text-align: center;
  -webkit-transition:color 300ms ease-in;  
  -moz-transition:color 300ms ease-in;  
  -o-transition:color 300ms ease-in;  
  transition:color 300ms ease-in;  
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
#uploadbtn {
  text-align: left;
}

#submitname {
	padding-left: 10px;
	padding-right: 10px;
}

.songline {
	padding-left: 10px;
	padding-right: 10px;
}

.button:hover {
  color: #01defe;
}

.big {
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 1px solid #222;
}

#player {
  font-size: 40px;
}

#queue {
  margin-top: 25px;
  margin: 0;
  padding: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

#addbtn {
  width: auto;
}

#closebtn, #closebtn1, #closebtn2 {
  width: auto;
  font-size: 30px;
}

#config {
  width: auto;
}

#becomeAristocrat {
	width: auto;
}

#unAristocrat {
	width: auto;
}


#i {
	position: absolute;
	top: 0px;
	left: 0px;
	border: 0;
	outline: 0;
	
}


#upload, #addqueue, #configdiv, #logoutdiv {
  background-color: #111;
  display: none;
  height: 300px;
  overflow-y: auto;
  padding: 20px;
  margin: 15px 0;
}

#ascend, #abdicate, #uploadbtn, #queuediv, #queue {
	display: none;
	overflow-y: auto;
}

#queue li {
  background-color: #000;
  border-bottom: 1px solid #222;
  white-space: nowrap;
  padding: 5px 4px;
  color: #fff;
  height: 21px;
  -webkit-transition:background-color 300ms ease-in;  
  -moz-transition:background-color 300ms ease-in;  
  -o-transition:background-color 300ms ease-in;  
  transition:background-color 300ms ease-in;  
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  overflow-x: visible;
}

#queue li:hover {
  background-color: #111;
}

a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

#addqueuelist li {
  background-color: #111;
  border-bottom: 1px solid #222;
  white-space: nowrap;
  padding: 5px 4px;
  color: #fff;
  height: 21px;
  -webkit-transition:background-color 300ms ease-in;  
  -moz-transition:background-color 300ms ease-in;  
  -o-transition:background-color 300ms ease-in;  
  transition:background-color 300ms ease-in;  
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  overflow-x: visible;
}

#addqueuelist li:hover {
  background-color: #222;
}

#users li {
  background-color: #000;
  border-bottom: 1px solid #222;
  white-space: nowrap;
  padding: 5px 4px;
  color: #fff;
  height: 21px;
  -webkit-transition:background-color 300ms ease-in;  
  -moz-transition:background-color 300ms ease-in;  
  -o-transition:background-color 300ms ease-in;  
  transition:background-color 300ms ease-in;  
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  overflow-x: visible;
}

.usernameme {
  color: #01defe;
}

#users li:hover {
  background-color: #111;
}

#config {
	margin-top: 5px;
	font-size: 22pt;
}

#chatdiv input {
	border:0;
	font-size: 26px;
	width: 545px;
	color: #fff;
	background-color: #000;
	padding: 15px;
	margin-top: 15px;
	box-shadow: #333 3px 3px 15px;
	
}

.chat { 
	color: #fff;
	text-shadow: 0px 1px 1px #333;
	height: 100px;
	width: 545px;
	box-shadow: #333 3px 3px 15px;
	margin: 10px 0px 0px 0px;
	padding: 15px;
	font-family: Helvetica, Arial;
	font-weight: bold;
	font-size: 15px;
	float: left;
	overflow-y: auto;
}

#chatdiv {
	width: 545px;
	float: left;
	margin-bottom: 50px;
}

.textline {
	padding: 4px 0;
	border-bottom: 1px dotted #444;
}

#muteunmute {
	padding-right: 40px;
	padding-left: 40px;
}

#next {
	padding-right: 30px;
	padding-left: 30px;
}

#song-time {
	margin-top: 15px;
	margin-right: 15px;
	float: right;
}
